body{
  font-family: "Lato", sans-serif;
}

#topnav {
  overflow: hidden;
}

#topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  opacity: 0.8;
  font-family: "Lora", sans-serif;
}

#topnav a:hover {
  background-color: #616060;
  color: white;
}

#bground-img {
  position: relative;
  text-align: center;
  z-index: 1;
}

.img-text {
  position: absolute;
  font-family: "Dancing Script", sans-serif;
  top: 65%;
  left: 65%;
  color:black;
  text-align: center;
  font-size: 3vw;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.subtitle {
  text-align: center;
  color: gray;
}

p {
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.project-title {
  text-align: center;
}